<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar"
    style="background-image:url(./assets/images/background/img/merican5.jpeg);">
    <div class="login-box card" style="margin-right: 500px;height: 650px; margin-top: 25px; border-radius: 15px; width: 30%;">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" action="index.html">
                <a href="javascript:void(0)" class="text-center db"><img src="../../../assets/images/logo.png"
                        alt="Home" style="height: 80px; margin-top: 25px;" /><br /></a>
                <h3 class="box-title m-t-40 m-b-0">Regístrate ahora</h3><small>Crea tu cuenta y disfruta</small>
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Nombre">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
            <input class="form-control" type="email" id="email"
            pattern=".+@globex\.com" size="30" required  placeholder="Email">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" id="" required="" placeholder="Contraseña">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="Confirmar Contraseña">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <!--Boton-->
                            <div class="boton-modal">
                                <a href="terms" class="text-primary m-l-5">Terminos y Condiciones</a>
                            </div>
                            <div id=bt class="col-xs-12">
                                <a href="login" class="text-dark m-l-5" >Inscribirse</a>
                            </div>
                            <!--Fin de Boton-->
                        </div>
                    </div>
                </div>
                <div id=text1 class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>Ya tienes una cuenta? <a href="login"
                                class="text-info m-l-5"><b>Iniciar Sesión</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
