<div class="col text-center text-uppercase">
    <small style="font-family: Rockwell">American Latin Class</small>
    <h2 style="font-family: Rockwell">Terminos y Condiciones</h2>
  </div>
  
  <div class="card-center" style="width: 50rem; margin-left: 50px;">
    <div class="card-body">
      <p class="card-text">Esta página web es propiedad de 5 estudiantes de la carrera de desarrollo de software
        del 4to semestre y está operado por [Erika Cuadros, Michelle Aguirre, Juan Tipan,
        Anderson Machado, Kevin Saltos]. Estos Términos establecen los términos y condiciones
        bajo los cuales tú puedes usar nuestra página web y servicios ofrecidos por nosotros.
        Esta página web ofrece a los visitantes [una variedad de cursos de baile]. Al acceder o
        usar la página web de nuestro servicio, usted aprueba que haya leído, entendido y
        aceptado estar sujeto a estos Términos:
        </p>
    </div>
    <div class="card-center" style="width: 50rem; margin-left: 50px;">
        <h5 class="card-title"  style="color: rgb(255, 0, 0);">¿Cuáles son los requisitos para crear una cuenta?</h5>
        <div class="card-body">
          <p class="card-text">Para usar nuestra página web American Latín Class y / o recibir nuestros servicios, debes
            tener al menos [16] años de edad, o la mayoría de edad legal en tu jurisdicción, y poseer
            la autoridad legal, el derecho y la libertad para participar en estos Términos como un
            acuerdo vinculante. No tienes permitido utilizar esta página web y / o recibir servicios si
            hacerlo está prohibido en tu país o en virtud de cualquier ley o regulación aplicable a tu
            caso.
            </p>
        </div>
        <div class="card-center" style="width: 50rem; margin-left: 10px;">
            <h5 class="card-title"  style="color: rgb(255, 0, 0);">¿Cuáles son los requisitos para crear una cuenta?</h5>
            <div class="card-body">
              <p class="card-text">Al inscribirse en el Curso, acepta que: (i) es responsable de leer el Curso completo;
                 Antes de registrarse: Celebre un contrato legalmente vinculante, regístrese una vez que acepte completar el proceso de registro.
                 Las tarifas que cobra por usar sus propios servicios/cursos exclusivos son
                 Nos reservamos el derecho de cambiar nuestros propios costos.
                 Corregir errores de curso presentados en cualquier momento
                 El impuesto sobre las ventas se puede encontrar en la página de pago.
                 "Tarifas por el Servicio y otros cargos en los que pueda incurrir en relación con su Servicio se cobrará el uso de servicios como impuestos y posibles tarifas de transacción.
                </p>
            </div>
        </div>
        <div class="card-center" style="width: 50rem; margin-left: 10px;">
            <h5 class="card-title"  style="color: rgb(255, 0, 0);">Derecho a suspender o cancelar la cuenta de usuario.</h5>
            <div class="card-body"> 
              <p class="card-text">Programas, imágenes, texto, gráficos, logotipos, patentes, marcas registradas, marcas registradas
                SERVICIOS, DERECHOS DEL CREADOR, FOTOS, AUDIO, VIDEOCLIPS, MELODÍA Y TODOS LOS DERECHOS
                La propiedad intelectual relacionada con ellos es
                NADA DE ESTOS TÉRMINOS CREARÁ UNA LICENCIA BAJO NINGUNO DE ESTOS DERECHOS;
                Propiedad Intelectual, y usted vende, licencia, alquila, comercia, distribuye,
              </p>
            </div>
        </div>
        <div class="card-center" style="width: 50rem; margin-left: 10px;">
            <h5 class="card-title"  style="color: rgb(255, 0, 0);">Posesión de propiedad intelectual, derechos de autor y logos.</h5>
            <div class="card-body"> 
              <p class="card-text">Podemos rescindir o suspender su acceso al Servicio, de forma permanente o temporal.
                sin previo aviso y responsabilidad por cualquier motivo, incluso a nuestro exclusivo criterio.
                determinación de que viola cualquier disposición de estos Términos o Leyes.  
              </p>
            </div>
        </div>
        <div class="card-center" style="width: 50rem; margin-left: 10px;">
            <h5 class="card-title"  style="color: rgb(255, 0, 0);">Derecho a cambiar y modificar los Términos</h5>
            <div class="card-body"> 
              <p class="card-text">Nos reservamos el derecho de modificar estos términos de vez en cuando a nuestra
                entera discreción. Por lo tanto, debes revisar estas páginas periódicamente. Cuando
                cambiemos los Términos de una manera material, te notificaremos que se han realizado
                cambios importantes en los Términos. El uso continuado de la página web o nuestro
                servicio después de dicho cambio constituye tu aceptación de los nuevos Términos. Si no
                aceptas alguno de estos términos o cualquier versión futura de los Términos, no uses o
                accedas (o continúes accediendo) a la página web o al servicio de American Latín Class.  
              </p>
            </div>
        </div>
        <div class="card-center" style="width: 50rem; margin-left: 10px;">
            <h5 class="card-title"  style="color: rgb(255, 0, 0);">Emails de promociones y contenido</h5>
            <div class="card-body"> 
              <p class="card-text">Acepta recibir de vez en cuando nuestros mensajes y materiales de promoción, por
                correo postal, correo electrónico o cualquier otro formulario de contacto que nos
                proporciones (incluido tu número de teléfono para llamadas o mensajes de texto). Si no
                deseas recibir dichos materiales o avisos de promociones, simplemente avísanos en
                cualquier momento.                
              </p>
            </div>
        </div>
        <div class="card-center" style="width: 50rem; margin-left: 10px;">
            <h5 class="card-title"  style="color: rgb(255, 0, 0);">Protección y divulgación de software </h5>
            <div class="card-body"> 
              <p class="card-text">American Latín Class se respalda en el Art. 131.- Protección de software. - El software se
                protege como obra literaria. Dicha protección se otorga independientemente de que
                hayan sido incorporados en un ordenador y cualquiera sea la forma en que estén
                expresados, ya sea como código fuente; es decir, en forma legible por el ser humano; o
                como código objeto; es decir, en forma legible por máquina, ya sea sistemas operativos
                o sistemas aplicativos, incluyendo diagramas de flujo, planos, manuales de uso, y en
                general, aquellos elementos que conformen la estructura, secuencia y organización del
                programa. Se excluye de esta protección las formas estándar de desarrollo de software 
              </p>
            </div>
        </div>
        <div class="container">
            <a href="/login" class="btn btn-info">Aceptar Terminos y Condiciones</a>
        </div>
       
    
  